<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <div class="w-full h-screen bg-bgone  flex flex-col justify-center items-center">

        <div class="w-[650px] h-[400px] bg-white/80 shadow-lg py-1 px-2 flex flex-col justify-between drop-shadow-lg rounded-md">

            <div class="w-[150px] h-[150px] bg-mastercard"> </div>
            <div class="w-full flex gap-2 flex-col font-semibold text-md font-mono">
                <dviv class="w-full  flex flex-row justify-between px-3">
                    <div>John Doe</div>
                    <div>05/26</div>
                </dviv>

                <div class="px-3 mb-6"> 0493 3382 1172 4502 </div>
            </div>

        </div>

   </div>
    
</body>
</html>